body{
  background-color: #ddd;
  margin-top: 100px;
}
.screen{
  background-color: #000;
  box-shadow: 8px 8px #aaa;
  color: #fff;
  min-height: 400px;
}
.screen .title{
  color: #fff;
  margin-bottom: 16px;
  font-weight: bold;
  text-align: center;
}
.opening-area{
  display: none;
  padding-top: 48px;
}
.mode-select-area{
  display: none;
}
.mode-select-area .btn{
  width: 160px;
}
.calc-area{
  font-size: 240px;
  font-weight: bold;
  line-height: 400px;
}
.calc-area .count-down{
  /*display: none;*/
}
.calc-area .count-down ul{
  font-size: 240px;
  font-weight: bold;
}
.answer-area{
  display: none;
}
.result-area{
  display: none;
}
.result-area .success,
.result-area .failed{
  display: none;
  margin: 32px 0;
}
.result-area .result-msg{
  color: #fff;
  font-weight: bold;
}
.result-area .result-img{
  height: 160px;
  width: 320px;
}
.eyecatch{
  border: 1px solid #fff;
  margin-bottom: 8px;
  height: 160px;
  width: 320px;
}
.start-btn{
  margin-top: 16px;
}
.center-child{
  text-align: center;
}
.btn{
  border: 3px solid #fff;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 8px;
  padding: 24px;
}
a.btn{
  color: #fff;
}

