@import "compass/css3";

.border {
  border: 1px solid #bbb;
}

@mixin fh {
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

.circle {
  @include border-radius(50%);
}

.centered {
  display: block;
  text-align: center;
}

.top {
  background: url(../images/bg-top.jpg);
  @include fh;
  z-index: 20;
}

.top-login {
  @include background-image(linear-gradient(top, #f1f1f1 0%, #dfdfdf 100%));
  @include border-radius(4px);
  height: 220px;
  width: 220px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 50px;
  margin: auto;
}

.top-login-user {
  font-size: 13px;
  margin: 30px auto 10px auto;
}

.top-login-user-image {
  border: 1px solid #aaa;
  display: block;
  @extend .circle;
  margin: 0 auto 10px auto;
  width: 80px;
  height: 80px;
}

.top-login-user-name {
  text-align: center;
}

.top-login-input {
  background-color: #fff;
  border: 1px solid #bbb;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
  @include border-radius(4px);
  margin-top: 20px;
  height: 28px;
  padding: 0 5px;
  width: 100%;
  .placeholder {
    color: #bbb;
    font-size: 13px;
  }
  .mark {
    color: #bbb;
    position: absolute;
    right: 20px;
    bottom: 5px;
  }
  &.active {
    border-color: rgba(82, 168, 236, 0.8);
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(82, 168, 236, 0.6));
  }
}

.top-menus {
  position: absolute;
  bottom: 5px;
  right: 0;
  left: 0;
  a {
    color: #f1f1f1;
    text-decoration: none;
    &:hover {
      color: #dfdfdf;
    }
  }
}

.blackout {
  background: #000;
  @include fh;
  z-index: 19;
}

.about {
  background: url(../images/bg-about.jpg);
  background-size: cover;
  @include fh;
  z-index: 18;
}

.about-menu {
  @include background-image(linear-gradient(top, #dedede 0%, #b4b4b4 50%, #9d9d9d 100%));
}

.about-menu-items {
  margin-bottom: 0;
  color: #202020;
  > li {
    display: inline-block;
    padding: 0 5px;
    &:hover, &:active {
      @include background-image(linear-gradient(#7793f5 0%, #406df2 50%, #275af1 100%));
    }
  }
  a {
    color: #202020;
    &:hover {
      color: #fff;
    }
  }
  .f-dropdown {
    @include border-radius(0 0 4px 4px);
    margin: 5px 0 0 -5px;
    padding-top: 2px;
    &:after,
    &:before {
      border: none;
    }
    li {
      line-height: 7px;
      a {
        color: #333;
        padding-left: 15px;
      }
      a:hover {
        color: #fff;
        @include background-image(linear-gradient(#7793f5 0%, #406df2 50%, #275af1 100%));
      }
    }
  }
}

.about-menu-status {
  margin: 0;
  color: #202020;
  li {
    display: inline-block;
    margin-right: 12px;
  }
}

.about-contents {
  margin-top: 10%;
}

@media screen and (max-width: 480px) {
  .about-menu-status {
    display: none;
  }
  .about-contents {
    margin-top: 5px;
  }
}

.window-header {
  @include background-image(linear-gradient(top, #f0f0f0 0%, silver 100%));
  @include border-radius(8px 8px 0 0);
  @include box-shadow(0 1px whitesmoke);
  border-bottom: 1px solid #a3a4a3;
  height: 25px;
  position: relative;
}

.window-header-btns {
  position: absolute;
  margin: 0;
  left: 5px;
  li {
    display: inline-block;
  }
}

.mac-window-btn {
  border: 1px solid #ddd;
  cursor: pointer;
  @include box-shadow(0 1px 0px rgba(255, 255, 255, 0.5), inset 0 1px 4px rgba(0, 0, 0, 0.8));
  width: 12px;
  height: 12px;
  &:after {
    @include background-image(linear-gradient(white, rgba(255, 255, 255, 0.9) 2%, white, rgba(255, 255, 255, 0.4) 16%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.7) 100%));
    @include border-radius(50%);
    content: '';
    display: block;
    margin: 1px;
    width: 8px;
    height: 8px;
  }
  &.close-btn {
    background: #F24D4B;
  }
  &.min-btn {
    background: #f4c265;
  }
  &.max-btn {
    background: #a0d57c;
  }
}

.window-header-title {
  text-align: center;
  text-shadow: 1px 1px #eee;
}

.window-contents {
  @include border-radius(0 0 4px 4px);
  background: #ddd;
}

.about-image-area {
  text-align: center;
}

.about-image {
  border: 1px solid #aaa;
  @include border-radius(2px);
  padding: 4px;
  margin-top: 20px;
  width: 50%;
  height: 50%;
  @include rotate(-10deg);
  position: relative;
}

.about-descriptions {
  height: 400px;
  position: relative;
}

@media screen and (max-height: 568px) {
  .about-descriptions {
    height: 330px;
  }
}

@media screen and (max-height: 480px) {
  .about-descriptions {
    height: 250px;
  }
}

.about-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  dt {
    border-bottom: 1px solid #ccc;
    @include box-shadow(0 1px 0 0 #eeeeee);
  }
}

@media screen and (max-width: 480px) {
  .about-description {
    dl, ul, p{
      font-size: 0.7rem; 
    }
  }
}


.about-description-title {
  border-left: 1px solid #333;
  padding-left: 10px;
  &:first-letter {
    color: #FF91A8;
  }
}

.about-description-navi {
  position: absolute;
  margin: 0;
  bottom: 5px;
  left: 70px;
  li {
    color: #ccc;
    display: inline-block;
    margin: 0 10px;
  }
}
