body{
  background: url(background.jpg);
  color: #535233;
  font-family:'Hiragino Mincho ProN', serif;
  font-size: 16px;
}
header,
footer{
  text-align: center;
}
header h1{
  font-size: 40px;
}
header h1:first-letter{
  color: #951F2B;
  font-size: 56px;
}
#container{
  width: 800px;
  margin: 0 auto;
}
.main{
  
}
.main-image-wrapper{
  margin: 16px auto 0px auto;
  position: relative;
}
.circle{
  background-color: #fefefe;
  border-radius: 50%;
  bottom: 40px;
  height: 480px;
  left: 160px;
  margin: 0 auto;
  opacity: 0.32;
  position: absolute;
  width: 480px;
}
.mini-map{
/*  position: absolute;
  left: 24px;
  top: 16px;*/
}
.mode-select-btns{
  text-align: center;
}
.mode-select-btns .btn{
  display: inline-block;
  margin-left: 56px;
}
.mode-select-btns .btn:first-child{
  margin-left: 0px;
}
.btn{
  cursor: pointer;
  font-weight: bold;
  font-size: 32px;
  transition: all .8s;
}
.btn:hover{
  color: #A5A36C;
}
.popover{
  border: 1px solid #535233;
  border-radius: 16px; 
  display: none;
  margin-bottom: 8px;
  position: absolute;
  padding: 16px;
  text-align: left;
  width: 256px;
}
.popover > .arrow{
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-bottom-width: 0;
  bottom: -8px;  
}
.popover > .arrow,
.popover > .arrow:after{
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; 
}
.popover > .arrow:after{
  content: " ";
  bottom: 0;
  margin-left: -8px;
  border-width: 8px;
  border-bottom-width: 0;
  border-top-color: #535233; 
}
.popover strong{
  color: #951F2B;
}
