body {
  background: url(../../../images/demo/todouhuken-master/background.jpg);
  color: #535233;
  font-family: 'Hiragino Mincho ProN', serif;
  font-size: 16px;
}

header,
footer {
  text-align: center;
}

header .title {
  font-size: 40px;
}
header .title:first-letter {
  color: #951F2B;
  font-size: 56px;
}

footer {
  border-top: 1px solid #dccebe;
  margin: 24px 0;
  padding-top: 8px;
}
footer a {
  color: #535233;
  font-style: italic;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

#container {
  width: 800px;
  margin: 0 auto;
}

.main-image-wrapper {
  margin: 16px auto 0px auto;
  position: relative;
}

.circle {
  background-color: #fefefe;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  bottom: 24px;
  height: 480px;
  left: 160px;
  margin: 0 auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=32);
  opacity: 0.32;
  position: absolute;
  width: 480px;
}

.mode-select-btns {
  text-align: center;
}
.mode-select-btns .btn {
  margin-left: 56px;
}
.mode-select-btns .btn:first-child {
  margin-left: 0px;
}

.map-area {
  display: none;
}

.question-area {
  min-height: 64px;
  margin: 16px 0;
  text-align: center;
}

.question {
  display: none;
  font-size: 32px;
  font-weight: bold;
}
.question strong {
  color: #951F2B;
  font-size: 40px;
}

.correct-msg {
  background-color: #F5F4D7;
  color: #951F2B;
  display: none;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  text-align: center;
  top: 40%;
  width: 800px;
}

.result-msg-area {
  display: none;
  margin: 64px auto;
  width: 640px;
}

.result-msg-title {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
}

.result-msg-content {
  text-align: center;
}

.result-msg {
  margin: 16px 0 24px 0;
}
.result-msg strong {
  color: #951F2B;
  font-size: 24px;
}

.btn {
  color: #535233;
  cursor: pointer;
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.btn:hover {
  color: #A5A36C;
}
.result-msg-btns .btn {
  margin-left: 56px;
}
.result-msg-btns .btn:first-child {
  margin-left: 0px;
}

.popover {
  border: 1px solid #535233;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  display: none;
  margin-bottom: 8px;
  position: absolute;
  padding: 16px;
  text-align: left;
  width: 256px;
}
.popover > .arrow {
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-bottom-width: 0;
  bottom: -8px;
}
.popover > .arrow, .popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow:after {
  content: " ";
  bottom: 0;
  margin-left: -8px;
  border-width: 8px;
  border-bottom-width: 0;
  border-top-color: #535233;
}
.popover strong {
  color: #951F2B;
}
